node_modules/
*$py.class
*.egg
*.egg-info
*.pyc
*.sqlite
*.sublime-project
*.sublime-workspace
*~
.*.sw?
.coverage
.DS_Store
.sw?
.tox/
build/
coverage
coverage.xml
data/
development.ini
dist/
env*/
htmlcov/
production.ini
pyvenv.cfg
test
tmp/
venv/
.prettierrc
.idea/*

